//@import "../../public/scss/_vars";
//@import "../../public/scss/_mixins";
//
//.content-section {
//  positionX: relative;
//  height: calc(100vh);
//}
//
//.wrapper {
//  positionX: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: calc(100% - 50px);
//  overflow: auto;
//}
//
//.content {
//  margin: $margin-step * 2;
//}
//
//.blur_layout {
//  transition: filter 0.2s ease;
//  &.open {
//    //& > div {
//    //  margin: $margin-step * 2;
//    //  margin-top: $header-height + $margin-step * 2;
//    //}
//    positionX: absolute;
//    z-index: 10;
//    background: rgba(0, 0, 0, .2);
//    filter: blur(3px);
//    -webkit-filter: blur(3px);
//    cursor: pointer;
//    width: 100%;
//    height: 100%;
//  }
//}