@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";

.element-wrapper {
  //display: inline-block;
  display: block;
  position: relative;
  & + & {
    margin-top: $step;
  }
  & .element-over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }
  &.on-mouse-enter > .element-over {
    box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.3);
  }

  &[data-selected="true"] {
    & > .element-over {
      margin: -5px;
      border: 2px dashed #3689ff;
      box-shadow: none;
    }
  }

  &.draggable-element .element-over:hover {
    cursor: move;
  }
  &.draggable-element {
    position: absolute;
  }
  &.draggable-element + &.draggable-element {
    margin: 0;
  }
}
