@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";

.window {
  background: $windows-background;
  width: $window-default-width;
  height: 100%;
  z-index: 100000;
  &.left {
    float: left;
    box-shadow: inset -1px 0 $separator-border-light, inset -2px 0 $separator-border-dark;
  }
  &.top {
    transform: translate(0, 0);
    height: 50%;
  }
  &.bottom {
    height: 50%;
    transform: translate(0, 100%);
  }
  &.right {
    float: right;
    box-shadow: inset 1px 0 $separator-border-light, inset 2px 0 $separator-border-dark;
  }
  &.top.left {
    box-shadow: inset -1px -1px $separator-border-light, inset -2px -2px $separator-border-dark;
  }
  &.top.right {
    box-shadow: inset 1px -1px $separator-border-light, inset 2px -2px $separator-border-dark;
  }

  //TODO: перенести на js
  &.right.top:not(.closed) + &.right.bottom {
    margin-right: -$window-default-width;
  }
  &.left.top:not(.closed) + &.left.bottom {
    margin-left: -$window-default-width;
  }

  &.closed {
    opacity: 0;
    display: none;
    z-index: -10000;
  }
}

.window-header {
  height: $window-header-height;
  width: 100%;
  line-height: 30px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    border-bottom: 1px solid #f8c053;
  }
}

.window-header__title {
  float: left;
  margin-left: $step;
}

.window-header__buttons {
  float: right;
  margin-right: $step;
  & .close-window {
    cursor: pointer;
    &:after {
      font-family: 'FontAwesome';
      content: '\f00d';
      font-size: 10pt;
    }
  }
  & .movement {
    cursor: move;
    &:after {
      font-family: 'FontAwesome';
      content: '\f00a';
      //content: '\f009';
      font-size: 10pt;
    }
  }
  & span + span {
    margin-left: $step;
  }
}

.window__content {
  word-break: break-all;
  margin: 15px 10px 15px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  height: calc(100% - 64px);
  &.overflow_none {
    overflow: visible;
  }
}