@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";
//@import "../../../public/scss/_fonts";

.tree {
  font-size: 10pt;
  overflow-x: auto;
  & ul {
    padding-left: 20px;
    & li {
      list-style: none;
      padding-left: 16px;
      &.no-padding {
        padding: initial;
      }
      & .caret {
        font-family: 'FontAwesome';
        cursor: pointer;
        margin-right: 5px;
        padding: 2px;
        &:after {
          content: '\f0da';
        }
        &[open]:after {
          content: '\f0d7';
        }
      }
      & .item {
        cursor: pointer;
      }
    }
  }
  & > ul {
    padding: 0;
    margin: 0;
  }
}