@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";

.toolbox-window {
  background: $windows-background;
  height: 100%;
  width: 175px;
  @include border($right: true);
}