@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";

.main-menu-tab {
  background: $windows-background;
  height: $menu-height;
  width: 100%;
  box-shadow: inset 0 -1px $separator-border-light, inset 0 -2px $separator-border-dark;
  position: relative;
  z-index: 11;
  transition: z-index 0.4s ease, height 0.4s ease;
  &.closed {
    height: 0;
    z-index: 0;
  }
}

.main-menu-tab__item {
  color: $text-color;
  font-size: $default-font-size;
  line-height: $menu-height;
  cursor: pointer;
  &:first-child,
  & + & {
    margin-left: 10px;
  }
}

.right-element {
  float: right;
  line-height: 30px;
  margin-right: 10px;
}

.hover-menu {
  position: absolute;
  height: 5px;
  background: none;
  width: 100%;
  z-index: 10000;
}

.tab_windows {
  width: 100%;
  &.opened:before {
    width: 5px;
    padding-right: 5px;
    font-family: 'FontAwesome';
    //content: '\f046';
    content: '\f00c';
    font-size: 9pt;
  }
  &.closed:before {
    padding-right: 16.7px;
    content: '';
  }
}