@import "../../public/scss/_editor-vars";
@import "../../public/scss/_mixins";

.dropdown-menu {
  position: absolute;
  background: $windows-background;
  border: 1px solid $separator-border-light;
  box-shadow: inset 0 0 5px $separator-border-light;
  z-index: 100;
}

.dropdown-item {
  padding: 5px 15px;
  transition: background 0.3s ease;
  font-size: 10pt;

  &:hover {
    cursor: pointer;
    background: rgba($separator-border-dark, 0.4);
  }
}