@import "./_fonts";
@import "./_editor-vars";

@mixin emptyBtn() {
  background: none;
  margin: 0 auto;
  padding: 0;
  border: none;
  &:focus {
    outline: none;
  }
}

.btn {
  @include emptyBtn();
  padding: 0 $step;
  color: $text-color;
  transition: font-weight 1s ease;
  line-height: $menu-height;
  &:not([disabled]):hover {
    color: $secondary-color;
    cursor: pointer;
  }
  &:active {
    outline: none;
    box-shadow: inset -1px 1px 2px 1px rgba(0, 0, 0, .1);
  }
  &.btn-img {
    padding: 0 $step / 1.8;
    & > label {
      padding: 0 $step;
      cursor: pointer;
    }
    &.small {
      font-size: 8pt;
      line-height: 20px;
    }
    &:after {
      font-family: 'FontAwesome';
      font-size: 12pt;
    }
    & + & {
      margin-left: $step / 2;
    }

    &.type_open-folder:after {
      content: '\f07c';
    }

    &.type_open-folder-o:after {
      content: '\f115';
    }

    &.type_new-file:after {
      content: '\f15b';
    }

    &.type_new-file-o:after {
      content: '\f016';
    }

    &.type_save:after {
      content: '\f0c7';
    }

    &.type_forward:after {
      content: '\f064';
    }

    &.type_backward:after {
      content: '\f112';
    }

    &.type_scissor {
      transform: rotate(-90deg);
      &:after {
        content: '\f0c4';
      }
    }

    &.type_copy:after {
      content: '\f0c5';
    }

    &.type_paste:after {
      content: '\f0ea';
    }

    &.type_close:after {
      content: '\f00d';
    }

  }

  &.btn_size_12 {
    font-size: 12pt;
  }

  &.btn_small {

  }
}

.type_separator {
  margin: 0 10px;
  padding: 0 1px;
  background: url('../images/separator.png') 0 0 no-repeat;
}

.btn-round {
  @include emptyBtn();
  height: 20px;
  width: 20px;
  border-radius: 10px;
  color: $text-color;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
  //background: rgba(0, 0, 0, .2);
  line-height: 20px;

  &:not([disabled]):hover {
    color: $secondary-color;
    box-shadow: inset 0 0 5px $secondary-color;
    cursor: pointer;
  }
  &.btn-small {
    height: 10px;
    width: 10px;
    line-height: 10px;
    border-radius: 5px;
  }
  &:after {
    font-family: 'FontAwesome';
  }
  &.type_caret-top:after {
    content: '\f0d8';
  }
  &.type_caret-down:after {
    content: '\f0d7';
  }
  &.align-right {
    float: right;
  }
}