/***************************************/
/*  COLORES */
/***************************************/

$background: #848196;
$windows-background: #404259;
$text-color: #f8c053;
$secondary-color: #d9432b;

$separator-border-dark: #252e3d;
$separator-border-light: #606384;
$border-separator-main: 1px solid #252e3d;
$border-separator-outline: 1px solid #606384;

/***************************************/
/*  SIZES */
/***************************************/

$default-font-size: 12pt;
$menu-height: 32px;
$bottom-menu-height: 22px;
$window-header-height: 30px;
$window-default-width: 252px;
$step: 10px;


/***************************************/
/*  MODAL */
/***************************************/

$modal-header-height: 50px;
$modal-header-background: #606384;
$modal-background: #404259;
