@import "./_editor-vars";
@import "./_mixins";

.property-input {
  border: 1px solid $text-color;
  color: $text-color;
  padding: 2px;
  background: none;

  &.width_100per {
    width: 100%;
  }

  &:focus {
    border-color: $secondary-color;
    outline: none;
  }
}