@import "./_editor-vars";

@mixin border($top:false, $bottom:false, $right:false, $left:false) {
  position: relative;
  @if $top {
    border-top: 1px solid $separator-border-dark;
    margin-top: 1px;
  }
  @if $bottom {
    border-bottom: 1px solid $separator-border-dark;
    margin-bottom: 1px;
  }
  @if $right {
    border-right: 1px solid $separator-border-dark;
    margin-right: 1px;
  }
  @if $left {
    border-left: 1px solid $separator-border-dark;
    margin-left: 1px;
  }
  &:before {
    content: '';
    position: absolute;
    @if $top {
      top: -2px;
      width: 100%;
      height: 1px;
    }
    @if $bottom {
      bottom: -2px;
      width: 100%;
      height: 1px;
    }
    @if $right {
      right: -2px;
      height: 100%;
      width: 1px;
    }
    @if $left {
      left: -2px;
      height: 100%;
      width: 1px;
    }
    background: $separator-border-light;
    z-index: 0;
  }
}