@import "./_editor-vars";
@import "./_mixins";

.d-table {
  display: table;
  width: 100%;
  & .row:first-child .cell,
  & .row + .row .cell {
    padding-top: $step;
  }
}

.d-row {
  display: table-row;
  & + & .d-cell {
    padding-top: $step;
  }
}

.d-cell {
  display: table-cell;
  vertical-align: middle;
  &.padding_right {
    padding-right: $step * 2;
  }
  &.padding_left {
    padding-left: $step * 2;
  }
}

.margin-right {
  margin-right: $step;
}

.margin-left {
  margin-left: $step;
}

.align-middle {
  vertical-align: middle
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.d-cell_width_50 {
  width: 50%;
}