@import "./_fonts";
@import "./_editor-vars";
@import "./_btn";
@import "./_table";
@import "./_input";

body {
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Open Sans Extrabold', sans-serif;
  //font-family: 'Open Sans Light', sans-serif;
  //font-family: 'Open Sans Semibold', sans-serif;
  padding: 0;
  margin: 0 auto;
  //overflow: hidden;
  color: $text-color;
  background: $background;
  & #body {
    height: 100vh;
    width: 100vw;
  }
}

.draggable-element {
  &.active-element {
    opacity: 1;
    z-index: 100;
    & > .element-drop-zone {
      opacity: 1;
    }
  }
}

.word_break {
  word-break: normal;
}

.element-drop-zone {
  //&.workplace-container.active {
  //  opacity: 1;
  //}
  &.dz-active .element-over {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .3);
  }
  &.target {
    opacity: 1;
    border: 2px dashed $text-color;
    background: red;
  }
}

.modal {
  background: $modal-background;
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  & .modal_header {
    height: $modal-header-height;
    background: $modal-header-background;
    line-height: $modal-header-height;
    & span {
      margin-left: $step;
    }
  }
  & .modal_content {
    margin: 20px;
  }
}