@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";

.tool-menu-tab {
  background: $windows-background;
  height: $menu-height;
  width: 100%;
  box-shadow: inset 0 -1px $separator-border-light, inset 0 -2px $separator-border-dark;
  position: relative;
  z-index: 10;
}