@import "../../public/scss/_editor-vars";
@import "../../public/scss/_mixins";

.editor-background {
  height: 100%;
  width: 100%;
  z-index: -1000;
  overflow: hidden;
  & .window-drop-zone {
    opacity: 0;
    display: none;
    border: 2px dashed $secondary-color;
    position: absolute;
    height: 32%;
    width: 100px;

    &.left {
      top: 33.5%;
      left: 0
    }
    &.left-top {
      left: 0;
      top: 0;
    }
    &.left-bottom {
      left: 0;
      bottom: 0;
    }

    &.right {
      top: 33.5%;
      right: 0;
    }
    &.right-top {
      right: 0;
      top: 0;
    }
    &.right-bottom {
      right: 0;
      bottom: 0;
    }

    &.active {
      display: block;
      opacity: 1;
    }
    &.target {
      background: rgba(0, 0, 0, 0.25);
    }
  }
}

.editor-two-menu {
  width: 100%;
  height: calc(100% - 86px);
  position: relative;
  z-index: 0;
  transition: height 0.4s ease;

  &.one-menu {
    height: calc(100% - 54px);
  }
  & .workplace {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 252px;
    right: 252px;
    z-index: -1;
    //padding: 30px;
    overflow: auto;
    & .workplace-wrapper {
      position: absolute;
      padding-bottom: 30px;
    }
    & .workplace-container {
      //TODO: переделать на динамичное измененеие
      //width: 100%;
      //height: 100%;
      background: #ffffff;
      //transform: translate(10%, 0);
      margin: auto;
      &.on-mouse-enter {
        box-shadow: inset 0 0 100px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#main-tab-wrapper.closed ~ .editor-two-menu {
  height: calc(100% - 54px);
}