@import "../../../public/scss/_editor-vars";
@import "../../../public/scss/_mixins";

.bottom-menu {
  background: $windows-background;
  width: 100%;
  padding-left: 250px;
  height: $bottom-menu-height;
  box-shadow: inset 0px 1px $separator-border-dark, inset 0px 2px $separator-border-light;
  position: relative;
  z-index: 10;
}